.product-list {
  max-width: 1000px;
  margin: 0 200px 0 200px;
  padding: 0 2-px;
}

.product-list .tags {
  display: flex;
  justify-content: space-between;
  cursor: default;
  margin-top: 30px;
  margin-bottom: 100px;
}

.product-list h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-list article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-list .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #da552f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.product-list .actions h1 {
  margin-top: 20px;
  color: #da552f;
}

.product-list .actions h2 {
  margin-top: 25px;
}

.product-list .actions button[disabled] {
  opacity: 0.5;
  cursor: default;
}
.product-list .actions button:hover {
  opacity: 0.7;
}

.product-list .actions button[disabled]:hover {
  opacity: 0.5;
}
